<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Show the Twitter Helper</title>
</head>
<body>
    <h1>Twitter Buttons and Widgets</h1>

    <h2>Search</h2>
    <p>@Twitter.Search("#pydelhi", "652108403175624705")</p>
</body>
</html>